.root {
    margin: 1px;
    border: 3px midnightblue solid;


    // & tbody &>tr:nth-child(2n+1) {
    & tbody tr:nth-child(2n+1) {
        background-color: beige;
        color: midnightblue;

    }

    & thead {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 999;
        background-color: #000;
        color: #fff;
    }

    & td {
        padding: 3px;
    }

    & tbody tr td:nth-child(3):not(:last-child) {
        color: darkred;
        font-size: 1.5rem;
        font-style: italic;
        background-color: lightsteelblue;
    }

    & tr td:nth-child(3) {
        min-width: 5ch;
        margin: 3px;
    }

    & tbody tr:last-child {
        color: rgb(0, 61, 0);
        background-color: antiquewhite;
        font-size: 1.5rem;
        font-weight: 500;
    }
}