.root {
    margin: 1px;
    border: 3px midnightblue solid;


    // & tbody &>tr:nth-child(2n+1) {
    & tbody tr:nth-child(2n+1) {
        background-color: beige;
        color: midnightblue;

    }

    // & table {
    //     position: relative
    // }

    & thead {
        // display: block;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 999;
        background-color: #000;
        color: #fff;
    }

    @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance:none) {

            & thead {

                position: sticky;
                position: -webkit-sticky;
                top: 0;
                z-index: 999;

            }
        }
    }

    /* Chrome 29+ */

    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        & thead {

            // display: block;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            z-index: 999;

        }
    }


    & td {
        padding: 3px;
    }

    & tbody tr td:nth-child(3):not(:last-child) {
        color: darkred;
        font-size: 1.5rem;
        font-style: italic;
        background-color: lightsteelblue;
    }

    & tr td:nth-child(3) {
        min-width: 5ch;
        margin: 3px;
    }

    & tbody tr:last-child {
        color: rgb(0, 61, 0);
        background-color: antiquewhite;
        font-size: 1.5rem;
        font-weight: 500;
    }

    & tbody tr:hover {
        background-color: darkgoldenrod;
        color: midnightblue;
    }



}